:root {
	--tab-bar-active-color: #0366d6;
	--font-size-xs: 9px;
	--font-size-sm: 11px;
	--font-size: 14px;
	--font-size-md: 18px;
	--font-size-lg: 28px;
	--font-size-xl: 32px;
	--font-size-xxl: 42px;
}

body {
	display: flex;
	overflow: hidden;
	margin-right: 0px;
	height: 100vh;
	font-size: var(--font-size-md);
}

body.theme-dark {
	--color-new: #28a745;
	--color-deleted: #d73a49;
	--color-modified: #dbab09;
	--color-renamed: #0366d6;
	--color-conflicted: #f66a0a;
	--text-color: #d1d5da;
	--text-secondary-color: #959da5;
	--background-color: #24292e;
	--box-border-color: #141414;
	--background: var(--background-color);
	--base-border: 1px solid var(--box-border-color);
	--box-selected-background-color: #444d56;
	--list-item-hover-background-color: #2f363d;
	--box-selected-active-background-color: #0366d6;
	--box-selected-active-text-color: #fff;
	--box-selected-active-border-color: #959da5;
	--background-color-brighter: rgb(47, 54, 61);
}

#left-panel {
	background: var(--background-color);
	margin-right: -5px;
}

#main-panel {
	margin-left: -5px;
}

.hide {
	display: none;
}

.bookmarks-item:hover .hide {
	display: initial;
}

/* Make the iframe to fit remaining height with flex-grow */

#file_grid {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
}



#left-panel-inner-content {
	height: 100%;
}

.no-outline {
	outline: none !important;
}