#separator {
	cursor: col-resize;
	background-color: rgb(206, 206, 206);
	width: 5px;
	min-height: 100%;

	/* Prevent the browser's built-in drag from interfering */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}