[submodule "third-party/chrome-tabs"]
	path = third-party/chrome-tabs
	url = https://github.com/adamschwartz/chrome-tabs
[submodule "third-party/draggabilly"]
	path = third-party/draggabilly
	url = https://github.com/desandro/draggabilly
[submodule "third-party/split"]
	path = third-party/split
	url = https://github.com/nathancahill/split
