[submodule "third-party/chrome-tabs"]
	path = third-party/chrome-tabs
	url = https://github.com/adamschwartz/chrome-tabs
[submodule "third-party/draggabilly"]
	path = third-party/draggabilly
	url = https://github.com/desandro/draggabilly
[submodule "third-party/split"]
	path = third-party/split
	url = https://github.com/nathancahill/split
[submodule "third-party/w2ui"]
	path = third-party/w2ui
	url = https://github.com/vitmalina/w2ui
